@import "list";

.fixed-center {
    width: 70%;
    z-index: 999;
    position: absolute;
}

.q-drawer--on-top {
    z-index: 10000000 !important;
}
.fullscreen {
    z-index: 1000000 !important;
}

#qrCode{
    margin:3em;
}

.q-carousel .q-btn__content .q-icon {
    text-shadow: 1px 2px 4px rgba(0,0,0,.55)
}

.q-rating__icon {
    text-shadow: none !important;
    color: #ccc;
}

.q-rating__icon--active {
    color: $orange-4 !important;
}

.width85 {
    width: 85%;
}

.q-item__section--thumbnail img {
    width: 96px;
    height: 96px;
    border-radius: 4px;
}

.q-item {
    padding: 25px 16px;
}

a.websiteLink {
    text-decoration: none;
}

.app-logo-container {
    margin-bottom: 65px;
    text-align: center;

    img {
        width: 116px;
    }
}

.reset-left {
    margin-left: 0 !important;
    padding-left: 0 !important;
}


.item__dot p {
    margin-bottom: 0 !important;
}
