.fixed-center {
    width: 70%;
    z-index: 999;
    position: absolute;
}

.q-drawer--on-top {
    z-index: 10000000 !important;
}
.fullscreen {
    z-index: 1000000 !important;
}

.linkText{
    color: blue;
    text-decoration: underline;
}

#qrCode{
    margin:3em;
}
