@import "list";

.fixed-center {
    width: 70%;
    z-index: 999;
    position: absolute;
}

.q-drawer--on-top {
    z-index: 10000000 !important;
}
.fullscreen {
    z-index: 1000000 !important;
}

.linkText{
    color: blue;
    text-decoration: underline;
}

#qrCode{
    margin:3em;
}

.q-carousel .q-btn__content .q-icon {
    text-shadow: 1px 2px 4px rgba(0,0,0,.55)
}

.q-rating__icon {
    text-shadow: none !important;
    color: #ccc;
}

.q-rating__icon--active {
    color: $orange !important;
}
